<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="kit_test_robot" >

  <property name="M_PI" value="3.1415926535897931" />
  <!-- The following included files set up definitions of parts of the robot body -->
  <include filename="$(find nxt_description)/models/servos/servo_v0.urdf.xacro" />
  <include filename="$(find nxt_description)/models/beams/beams_v0.urdf.xacro" />
  <include filename="$(find nxt_description)/models/sensors/sensors_v0.urdf.xacro" />
  <include filename="$(find nxt_description)/models/connectors/connectors_v0.urdf.xacro" />

  <!--xacro:nxt_servo_v0 name="right" reflect="1"/-->
  <xacro:nxt_servo_v0 name="center" reflect="0"/>
  <!--xacro:nxt_servo_v0 name="left" reflect="0"/-->
  <!--xacro:nxt_brick_v0 name="nxt_brick"/-->
  <xacro:nxt_6558_v0 name="c1" />
  <xacro:nxt_6558_v0 name="c2" />

  <joint name="c1" type="fixed">
      <parent link="center_servo_link"/>
      <child link="c1"/>
      <origin xyz="0 -0.020 -0.040" rpy="${-M_PI} 0 ${-M_PI}" />
      <axis xyz="1 0 0" />
  </joint>

  <joint name="c2" type="fixed">
      <parent link="center_servo_link"/>
      <child link="c2"/>
      <origin xyz="0 -0.040 -0.040" rpy="${-M_PI} 0 ${-M_PI}" />
      <axis xyz="1 0 0" />
  </joint>



</robot>
