<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <property name="M_PI" value="3.1415926535897931" />

  <xacro:macro name="nxt_ultrasonic_v0" params="name">
  <link name="${name}">
    <inertial>
      <mass value="0.023900" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0.0 0.0 0" />
      <inertia  ixx="0.1" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://nxt_description/meshes/collada/sensors/ultrasonic_sensor_9846.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 -0.02875 0.0305" rpy="0 0 0.0" />
      <geometry>
        <box size="0.1375 0.1085 0.0785"/>
      </geometry>
    </collision>
  </link>
  </xacro:macro>

  <xacro:macro name="nxt_color_v0" params="name">
  <link name="${name}">
    <inertial>
      <mass value="0.012950" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0.0 0.0 0" />
      <inertia  ixx="0.1" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://nxt_description/meshes/collada/sensors/color_sensor_1038.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 -0.0245 0.0305" rpy="0 0 0.0" />
      <geometry>
        <box size="0.060 0.1065 0.0785"/>
      </geometry>
    </collision>
  </link>
  </xacro:macro>  

  <xacro:macro name="nxt_brick_v0" params="name">
 <link name="${name}">
    <inertial>
      <mass value="0.1479" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0.0 0.0 0" />
      <inertia  ixx="0.1" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://nxt_description/meshes/collada/sensors/nxt_intelligent_brick_9841.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0.050" rpy="0 0 -1.57079" />
      <geometry>
        <box size="0.2775 0.1795 0.100"/>
      </geometry>
    </collision>
  </link>
  </xacro:macro>  

  <xacro:macro name="nxt_touch_v0" params="name">
  <link name="${name}">
    <inertial>
      <mass value="0.015050" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0.0 0.0 0" />
      <inertia  ixx="0.1" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://nxt_description/meshes/collada/sensors/touch_sensor_9843.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 -0.0405 0.0305" rpy="0 0 0.0" />
      <geometry>
        <box size="0.0595 0.0985 0.0785"/>
      </geometry>
    </collision>
  </link>
  </xacro:macro>  

</robot>
