<launch>
  <param name="robot_description" command="cat '$(find nxt_robot_2.0_kit_test)/robot_model.urdf'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="100.0"/>
  </node>
  <node name="state_publisher" pkg="nxt_robot_2.0_kit_test" type="state_publisher" />
</launch>
